<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Grid collection-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="baniwal_blog_post_listing_data_source" xsi:type="string">Baniwal\Blog\Model\ResourceModel\Post\Grid\Collection</item>
                <item name="baniwal_blog_tag_listing_data_source" xsi:type="string">Baniwal\Blog\Model\ResourceModel\Tag\Grid\Collection</item>
                <item name="baniwal_blog_topic_listing_data_source" xsi:type="string">Baniwal\Blog\Model\ResourceModel\Topic\Grid\Collection</item>
                <item name="baniwal_blog_comment_listing_data_source" xsi:type="string">Baniwal\Blog\Model\ResourceModel\Comment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Baniwal\Blog\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">baniwal_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">Baniwal\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <virtualType name="Baniwal\Blog\Model\ResourceModel\Tag\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">baniwal_blog_tag</argument>
            <argument name="resourceModel" xsi:type="string">Baniwal\Blog\Model\ResourceModel\Tag</argument>
        </arguments>
    </virtualType>
    <virtualType name="Baniwal\Blog\Model\ResourceModel\Topic\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">baniwal_blog_topic</argument>
            <argument name="resourceModel" xsi:type="string">Baniwal\Blog\Model\ResourceModel\Topic</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\App\Rss\RssManagerInterface">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="blog_posts" xsi:type="string">Baniwal\Blog\Block\Post\Rss\Lists</item>
            </argument>
        </arguments>
    </type>
	<preference for="Magento\Sitemap\Model\Sitemap" type="Baniwal\Blog\Model\Sitemap"/>
</config>
