<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="baniwalblog" xsi:type="array">
                    <item name="class" xsi:type="string">Baniwal\Blog\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">60</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!--Plugin List-->
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="blog-topmenu" type="Baniwal\Blog\Plugin\Topmenu" />
    </type>
    <type name="Smartwave\Megamenu\Block\Topmenu">
        <plugin name="blog-porto-theme-topmenu" type="Baniwal\Blog\Plugin\PortoTopmenu" />
    </type>
    <type name="Infortis\UltraMegamenu\Block\Navigation">
        <plugin name="blog-topmenu-infortis" type="Baniwal\Blog\Plugin\InfortisTopmenu" />
    </type>
</config>
